@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');

@import '../components/layout/Layout.css';
@import '../components/layout/MainNavigation.css';
@import '../components/layout/Footer.css';
@import '../components/meetups/MeetupDetail.css';
@import '../components/meetups/MeetupItem.css';
@import '../components/meetups/MeetupList.css';
@import '../components/meetups/NewMeetupForm.css';
@import '../components/ui/Card.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --color-sky: 14 165 233;
    --color-purple: 168 85 247;
    --color-pink: 236 72 153;
    --color-emerald: 20 184 166;
    --color-orange: 249 115 22;

    --color-switch-sky: var(--color-sky);
    --color-switch-purple: var(--color-purple);
    --color-switch-pink: var(--color-pink);
    --color-switch-emerald: var(--color-emerald);
    --color-switch-orange: var(--color-orange);

    --color-theme-primary: 28 34 55;
    --color-theme-secondary: 240 9 70;

    --color-primary: var(--color-theme-primary);
    --color-secondary: var(--color-theme-secondary);
  }

  * {
    @apply box-border;
  }

  html,
  body {
    @apply p-0 m-0 font-lato bg-switch-emerald;
  }
}
